
body{
    background-color:  hsl(229, 57%, 11%);
    background-image: url('bg-desktop.png');
    background-position: bottom;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    min-height: 100vh;
    color: white;
    font-family:-apple-system, 'Raleway', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*  {box-sizing: border-box}
main{
    height: 100vh;
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
}
.data{
    padding: 40px ;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    border-radius: 10px;
    font-size: 10px;
    background-color: hsl(228, 56%, 26%);
    position: relative;  
}
.remainder{
    left: 40px;
    right: auto;
    top: -50px;
    position: absolute;
    margin-bottom:60px;
    padding: 10px;
    padding-bottom: 0px;
    margin-left: 60%;
    border-radius:10px 10px 10px 10px ;
    background-color: white;
    color: black;
}
.remainder:after{
    content: '';
    position: absolute;
    width: 0;
    z-index: 1;
    border-width: 0 25px 39px 0;
    left: 65%;
    top: auto;
    right: auto;
    bottom: -20px;
    border: 23px solid transparent;
    border-color: transparent #fff transparent transparent;
    margin-left: -15px;
    /* border-bottom: 0;
    border-left: 0;
    margin-left: -20px;
    margin-bottom: -20px; */
}
.progressBar{
    width: 350px;
    background-color: hsl(229, 57%, 11%);
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    border-radius: 7px;
    margin-top: 5px;
}
.progress{
    width: 81.5%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    padding: -2px ;
    border-radius: 7px;
}
.dot{
    width: 8px;
    height: 8px;
    margin-left: 96%;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
#zero{
    font-size: 100%;
    font-weight: 700;
    margin-top: 5px;
}
#th{
    margin-left: 80%;
}
.svgs{
    margin-left: 50px;
    text-align: left;
    border-radius: 10px 70px 10px 10px;
    background-color: hsl(228, 56%, 26%);
    height: 220px;
    width: 345px;
    padding: 40px;

}
.icons-wrapper{
    display: flex;
    margin-top: 35px;
}
.icons{
    /*padding: 5px;
    padding-left: 10px; */
    width: 50px;
    height: 50px;
    background-color:  hsl(229, 57%, 11%);
    border-radius: 10px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .doc{
    padding-top: 7px;
    padding-bottom: 7px;
} */
@media screen and (max-width: 600px) {
    body{
        background-image: url('bg-mobile.png');
        background-size: cover;
        color: white;
        margin: auto;
    
    }
    main{
        display: inline;
    }
    .data{
        width: 90%;
        text-align: center;
        margin-left: 5%;
        margin-top: 0px;

    }
    .svgs{
        width: 90%;
        padding-left: 40px;
        margin-left: 5%;
        margin-top: 30%;
        margin-bottom: 20px;
    }
    .icons{
        width: 50px;
        height: 50px;
        padding: 15px;
        margin-bottom: 30px;
        margin-right: 10px;

    }
    .progressBar{
        width: 100%;
    }
    .dot{
        margin-left: 96%;
    }
    #zero{
        width: 100%;
        margin-left: 0%;
    }
    #th{
        margin-left: 70% ;
    }
    .remainder{
        top: 150px;
        left: -10%;
        right: auto;
        bottom: 5%;
        position: relative;
        margin-bottom: 0%;
        text-align: center;
        padding: 5px;
        height: fit-content;

    }
    .remainder:after{
        border-color: transparent;
    }
    .attribution{
        margin-top: 100px;
    }


}